.btn-primary {
  background-color: #28a49a;
  border-color: #28a49a;
  border-radius: 50%;
  color: #fff;
  border: none;
  outline: none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
  background-color: darken(#28a49a, 8%);
  border-color: darken(#28a49a, 8%);
}



.btn-sm {
  font-size: 12px;
  padding: 10px 16px;
}

.btn-md {
  font-size: 14px;
  padding: 11px 20px;
}

.btn-lg {
  font-size: 16px;
  padding: 12px 24px;
}