:global {
  .btnPrimary {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover,
    &:focus,
    &:active,
    &:not(:disabled):not(.disabled):active {
      background-color: darken($color-primary, 8%);
      border-color: darken($color-primary, 8%);
    }
  }
}

.btn {
  background-color: $color-primary;
  border-color: $color-primary;

  .btn-sm {
    font-size: 12px;
    padding: 10px 16px;
  }

  .btn-md {
    font-size: 14px;
    padding: 11px 20px;
  }

  .btn-lg {
    font-size: 16px;
    padding: 12px 24px;
  }
}
