.pane {
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  width: 450px;
  height: 473px;

  h1 {
    color: #fff;
  }

  .firstRow {
    display: flex;
  }
  .secondRow {
    display: flex;
  }
}
